
#mobile-services_nav {
  display: none;
}

.section-blue {
  background-color: #2e3d98;
  color: #eee;
}
.section-black {
  color: #eee;
  background-color: #131313;
}
.section-white {
  color: #fcfbfb;
}

/* services */

.service-hightlights-section {  
  padding-top: 100px;
}

/* porfolio sing */
.port-single-section {
  padding-top: 90px;
}

.port-text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
}
.port-img-rounded-corners img {
  padding: 0;
  border-radius: 10px;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-40 {
  margin-bottom: 40px;
}
/* nations of shoe */


/* take care of */
.port-takecareof {
  padding-bottom: 60px;
}

@media only screen and (max-width: 991px) {
  #web-services_nav {
    display: none;
  }
  #mobile-services_nav {
    display: block;
  }
}